body {
  width: 83%;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header section */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.nav-img img {
  width: 139px;
}
.nav-list ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.btn-section {
  background: #469165;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-section2 {
  background: none;
  color: white;
  border: 1px solid #ffffff;
  padding: 10px 16px;
  border-radius: 5px;
  margin-left: 16px;
  cursor: pointer;
}
.banner-section {
  background-image: url("/assets/hero-bg.png");
  color: white;
  text-align: center;
  padding: 115px 120px 179px;
}
.banner-title h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 0;
}
.span-title {
  color: #30b868;
  font-size: bold;
}
.banner-title p {
  width: 660px;
  margin: 16px auto;
  margin-bottom: 32px;
}

/* main part */

.note-section {
  text-align: center;
  margin-top: 20px;
}
.note-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.note-section p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

/* notes-cart */
.note-section-cart {
  display: flex;
  gap: 24px;
  margin-top: 44px;
}
.notes-cart {
  box-shadow: 10px 10px 20px gray;
  text-align: center;
  margin: 0;
  padding: 70px 24px;
  border-radius: 8px;
}
.notes-cart h1 {
  font-size: 24px;
  font-weight: 600;
}
.notes-cart p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.notes-cart img {
  padding: 8px;
  border-radius: 100%;
  background: #f95555;
}

/* Brain section */
.brain-section-list ul {
  list-style: none;
  padding: 0;
  padding-top: 30px;
}
.brain-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
}
.brain-section-title h1{
  font-size: 48px;
  font-weight: bold;
}
.brain-section-list ul li {
  padding-bottom: 15px;
 
}
.tik-icon {
  padding: 2px 5px;
  border-radius: 100px;
  background: #30b868;
  color: #ffffff;
}
.brain-section-title p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  width: 500px;
  color: #627382;
}
.solution-title{
  color: #30b868;
}